* {
    box-sizing: border-box;
}

body {
    background-image: url("../css/images/background.jpg") ;
}

p {
    text-indent: 25px;
}

hr {
    padding-bottom: 1px;
    background-color: #9b9b9b;
    border-bottom:1px solid #F4F4F4;
}

.tr:nth-child(even) {
    background-color: wheat;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row {
    display: inline-block;
}
* html .row {
    height: 1%;
}
.row {
    display: block;
}
.header {
    border-radius: 50px;
    background: #e0e0d1;
    height: 200px;
    margin-bottom: 10px;
    border: solid;
}
.content {
    width: 50%;
    float: left;
    position: relative;
    left: 240px
}

.inner-content {
    border: solid;
    background: #bbbaae;
    padding: 10px;
    min-height: 500px;
}

.horizontal-bar{
    float: right;
    width: 45%;
    margin-bottom: 10px;
    position: relative;
    right: 465px;
}
.inner-horizontal-bar{
    border-radius: 10px;
    background: #e0995e;
    height: 60px;
    padding: 10px;
    border: solid;
}

.sidebar {
    width: 285px;
    float: left;
    padding-right: 10px;
    position: relative;
    top: 70px;
    left: 240px;

}
.inner-sidebar {
    border-radius: 20px;
    border: solid;
    background: #c75c5c;
    min-height: 470px;
}
.footer {
    border-radius: 50px;
    border: solid;
    background: #e0e0d1;
    height: 100px;
    margin-top: 10px;
}

.registration-form-section {
    width: 100%;
    min-height: 150px;
    float: left;
}

.authorization-form-section {
    position: relative;
    float: right;
    top: 45px;
    right: 40px;
}

.register-error-message-section {
    width: 50%;
    min-height: 250px;
    padding: 15px;
    border: solid;
    background: lightpink;
    margin-left: 70%;
    position: relative;
    right: 200px;
}

.home-icon{
    background: url("../css/images/home.png") no-repeat center;
    height: 40px;
    width: 60px;
    display: block;
    padding-bottom: 10px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.library-icon{
    background: url("../css/images/library.png") no-repeat center;
    float: left;
    height: 128px;
    width: 128px;
    display: block;
    position: relative;
    top: 30px;
    left: 60px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.auth-error-content {
    border: solid;
    background: #bbbaae;
    min-height: 500px;
    padding: 10px;
    width: 50%;
    position: relative;
    left: 25%;
    top: 15%;
}

.inner-auth-error-message-section {
    padding: 15px;
    min-height: 150px;
    border: solid;
    background: lightpink;
}

.inner-auth-error-content {
    position: relative;
    top: 30px;
    left: 35%;
}

.footer-message{
    position: relative;
    top: 15px;
    left: 800px;
}

.button {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #293a8b;
    border-radius: 8px;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 8px;
    -o-box-shadow: 8px;
    -moz-box-shadow: 8px;
}

.button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #a00;
}

.select-locale-navigation-section {
    float: right;
    position: relative;
    bottom: 35px;
    height: 0%;
}

.book-section {
    border: solid;
    width: 428px;
    float: left;
    padding: 15px;
    height: 400px;
    margin: 15px;
    background: moccasin;
}

.book-section:hover {
    background: antiquewhite;
}

.book-image-section {
    float: left;
    margin: 10px;
    margin-bottom: 60px;
}

.book-title-section {
    position: relative;
    float: right;
    top: -35px;
    width: 230px;
    height: 280px;
}

.book-info-section {
    position: relative;
    bottom: 30px;
    float: left;
    width: 100%;
}

.user-header-section {
    float: right;
    position: relative;
    top: 55px;
    right: 110px;
}

.book-links-section {
    float: left;
    position: relative;
    width: 100%;
    bottom: 20px;
}

.book-description-section {
    top: 10px;
    right: 0px;
    width: 100%;
    float: left;
}

.book-submit-comment-form-section {
    float: left;
    top: 25px;
    height: 100px;
    left: 10px;
}

.book-comments-section {
    float: left;
    top: 85px;
    background: #dddddd;
    padding: 15px;
    width: 920px;
}

.comment-sender-info-section {

}

.comment-text-section {

}

.send-comment-requirement-section {
    top: 15px;
    left: 10px;
    width: 100%;
    float: left;;
}

.sidebar-category-link-style {
    border: 2px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    width: 270px;
    margin-bottom: 5px;
}

.sidebar-category-link-style:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #ffe4b5, #e9e9ce);
    color: #a00;
}

.link-style {
    border: 2px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
}

.link-style:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #ffe4b5, #e9e9ce);
    color: #a00;
}

.pagination-section {
    height: 10px;
    margin: 15px;
}

.comment-pagination-section {
    float: left;
    position: relative;
    height: 75px;
    bottom: -25px;
    width: 100%;
}

.reader-requests-links-section {
    float: left;
    width: 100%;
    height: 55px;
}

.book-admin-links-section {

}