* {
    box-sizing: border-box;
}
.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row {
    display: inline-block;
}
* html .row {
    height: 1%;
}
.row {
    display: block;
}
.header {
    border-radius: 50px;
    background: #C75C5C;
    height: 200px;
    margin-bottom: 10px;
}
.content {
    width: 80%;
    float: left;
}
.horizontal-bar{
    float: right;
    width: 80%;
    margin-bottom: 10px;
}
.inner-horizontal-bar{
    border-radius: 10px;
    background: #E0E0D1;
    height: 60px;
    padding: 10px;
}
.inner-content {
    border: solid;
    background: #77B3D4;
    min-height: 600px;
    padding: 10px;
}
.sidebar {
    width: 20%;
    float: left;
    padding-right: 10px;
}
.inner-sidebar {
    border-radius: 20px;
    background: #E0995E;
    min-height: 600px;
}
.footer {
    border-radius: 50px;
    background: #C75C5C;
    height: 100px;
    margin-top: 10px;
}

.registration-form-section {
    width: 65%;
    min-height: 150px;
    float: left;
}

.authorization-form-section {
    position: relative;
    float: right;
    top: 45px;
    right: 40px;
}

.register-error-message-section {
    width: 30%;
    min-height: 250px;
    padding: 15px;
    border: solid;
    background: lightpink;
    margin-left: 70%;
    position: relative;
    right: 65px;
}

.home-icon{
    background: url("../css/images/home.png") no-repeat center;
    height: 48px;
    width: 48px;
    display: block;
    padding-bottom: 10px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.library-icon{
    background: url("../css/images/library.png") no-repeat center;
    float: left;
    height: 128px;
    width: 128px;
    display: block;
    position: relative;
    top: 30px;
    left: 60px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.auth-error-content {
    border: solid;
    background: #77B3D4;
    min-height: 500px;
    padding: 10px;
    width: 50%;
    position: relative;
    left: 25%;
    top: 15%;
}

.inner-auth-error-message-section {
    padding: 15px;
    min-height: 150px;
    border: solid;
    background: lightpink;
}

.inner-auth-error-content {
    position: relative;
    top: 30px;
    left: 35%;
}

.footer-message{
    position: relative;
    top: 35px;
    left: 800px;
}

.bottom {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #293a8b;
    border-radius: 8px;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 8px;
    -o-box-shadow: 8px;
    -moz-box-shadow: 8px;
}

.bottom:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #a00;
    /*-webkit-transform:rotate(1deg);*/
}

.select-locale-navigation-section {
    float: right;
    position: relative;
    bottom: 42px;
    right: 25px;
    height: 0%;
}