<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.epam.adk.web.library.listener.ConnectionPoolListener</listener-class>
    </listener>
    <filter>
        <filter-name>charsetFilter</filter-name>
        <filter-class>com.epam.adk.web.library.filter.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>charsetFilter</filter-name>
        <servlet-name>FrontControllerServlet</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>roleFilter</filter-name>
        <filter-class>com.epam.adk.web.library.filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>roleFilter</filter-name>
        <servlet-name>FrontControllerServlet</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>FrontControllerServlet</servlet-name>
        <servlet-class>com.epam.adk.web.library.servlet.FrontControllerServlet</servlet-class>
        <multipart-config>
            <file-size-threshold>2097152</file-size-threshold>
            <max-request-size>52428800</max-request-size>
            <max-file-size>104</max-file-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControllerServlet</servlet-name>
        <url-pattern>/do/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.epam.adk.web.library.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/image/*</url-pattern>
    </servlet-mapping>

</web-app>